* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  box-sizing: border-box;
  font-family: regular_p;
  /* color: #64113f; */
}
@font-face {
  font-family: regular_p;
  src: url(./fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: bold_p;
  src: url(./fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: semibold_p;
  src: url(./fonts/Poppins-SemiBold.ttf);
}

.portfolio{
    height: 100vh;
    width: 100%;
    background-image: url('./img/1635635243220.jpeg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    display: flex;
    flex-direction: column;
    

}

.first-page{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 3;
    align-items: center;
    padding:1rem 4rem;
    
    
}

.logo{
    /* margin: 0rem 4rem; */
    font-family: semibold_p;
    font-size: 1.9rem;
    /* padding-top: 1rem; */
    color: whitesmoke;
    z-index: 3;
    /* filter:drop-shadow(08px 8px 10px rgba(0, 0, 0, 0.5), 20px 20px 90px rgba(0, 0, 0, 0.5)); */

}

.portfolio::before{
    position: absolute;
    top: 0;
    content:'';
    height: 100%;
    width: 100%;
    background-color: #00000077;
    z-index: 1;
}

span{
    color: crimson;
}

.navbar{
    display: flex;
    justify-content: space-around;
    width:40%;
    color: white;
    font-family: regular_p;
    text-decoration: none;
}


.portfolio li{
    list-style: none;
    display: inline-block;
    
}

.portfolio a{
    text-decoration: none;
    color: whitesmoke;
}

.content-wrap{
    /* align-items: center; */
    /* display: flex; */
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding:4rem;

}

.content{
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
}

.line-1{
    font-size: 1.3rem;
}

.line-2{
    font-size: 3rem;
    font-family: bold_p;
}

.line-3{
    font-size: 2.2rem;
    font-family: semibold_p;
}

.content a{
    margin: 1.5rem 0;
  border: 1px solid crimson;
  font-size: 1rem;
  color:whitesmoke;
  background-color: crimson;
  padding: 0.7rem 0;
  /* background-color: transparent; */
  border-radius: 0.3rem;
  font-family: semibold_p;
  display:flex;
  justify-content: center;
  width: 30%;
  /* transition: .3s ease; */
}

li a:hover{
    color: crimson;
}

/* About me start */

.about-me{
    background-color: white;
    height: 100vh;
    margin-top: 5rem;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    color: crimson;
    text-decoration: li;
    font-family: semiBold_p;
}

.sl{
    color: black;
}

.about-content{
    margin: 4rem;
    display: flex;

}

.about-content-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.about-img{
    width: 27rem;
    height: 27rem;
    background-image: url(./img/1635634381066.jpeg);
    background-size: cover;
    background-position: bottom;
    border-radius: 1rem ;
}

.about-rt-content{
    width: 60%;
    /* padding: 4.6rem 0rem 4.6rem 4.6rem; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 27rem;
    text-align: start;
    margin-left: 2rem;
}

.about-rt-content a{
    margin: 3rem 0;
  border: 1px solid crimson;
  font-size: 1rem;
  color:whitesmoke;
  background-color: crimson;
  padding: 0.7rem 0;
  /* background-color: transparent; */
  border-radius: 0.3rem;
  font-family: semibold_p;
  display:flex;
  justify-content: center;
  width: 30%;
  text-decoration: none;

}

.para{
    padding-top: 1rem;
}

/* Myservices start  */

.my-services{
    background-color: black;
    height: 75vh;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding-bottom: 4rem; */
    /* margin-top: 5rem; */
}

.services-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    color: whitesmoke;
}

.card h3{
    color: whitesmoke;
}



.sl2{
    color: whitesmoke;
}

.services-card{
    display: flex;
    justify-content: space-between;
    /* margin-top: 3rem; */
}

.card{
    border: 1px solid gray;
    width: 25%;
    height: 16rem;
    border-radius: .8rem;
    background-color: rgb(29, 25, 25);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem;

    box-shadow: 0px 0px 10px rgba(248, 248, 248, 0.2), 10px 10px 50px rgba(255, 248, 248, 0.2);
 
    
}

.card:hover{
    background-color: crimson;
     transition: 0.3s ease-in;
  /* background-color: white; */
  transform: scale(1.05);
}

.card a:hover{
    background-color:transparent;
     transition: 0.3s ease-in;
  background-color: white;
  transform: scale(1.05);
  color: black;
  border: 1px solid black;
}

.card:hover .sl3{
    color: black;
}

.card .para{
    color: white;
}

.sl3{
    color: crimson;
}

/* My skills start  */

.my-skills{
    background-color:white;
    height: 85vh;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-top: 5rem; */
}

.skills-content{
    display: flex;
    justify-content: space-between;
}

.skills-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 4rem; */
}

.skills-header p{
    font-family: semibold_p;
}

.skills-lt-content{
    width: 50%;
    padding-right: 3rem;
    /* margin-top: 4rem; */
}

.skills-lt-content h3{
    color: black;
}

.skills-lt-content a{
    margin: 1.5rem 0;
  border: 1px solid crimson;
  font-size: 1rem;
  color:whitesmoke;
  background-color: crimson;
  padding: 0.7rem 0;
  /* background-color: transparent; */
  border-radius: 0.3rem;
  font-family: semibold_p;
  display:flex;
  justify-content: center;
  width: 30%;
  text-decoration: none;
}

.skills-rt-content{
    /* border: 1px solid black; */
    width: 50%;
}

.skills-rt-content{
    background-image: url(./img/Capture-removebg-preview.png);
    background-size:400px;
    background-position: center;
    background-repeat: no-repeat;
}

.team-card {
    border: 1px solid gray;
    width: 25%;
    height: 16rem;
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 3rem 2rem; */
    justify-content: flex-end;
    /* position: relative; */

    box-shadow: 0px 0px 10px rgba(248, 248, 248, 0.2), 10px 10px 50px rgba(255, 248, 248, 0.2);
}

.one{
    /* border-radius: 10rem; */
    background-image: url(./img/ads.JPG);
    background-size: cover;
    background-position: auto;
} 

.two{
    /* border-radius: 10rem; */
    background-image: url(./img/happy.JPG);
    background-size: cover;
    background-position: auto;
} 

.three{
    /* border-radius: 10rem; */
    background-image: url(./img/aman.JPG);
    background-size: cover;
    background-position: auto;
} 

.team-card p{
    color: black;
    font-family: bold_p;
    background-color: whitesmoke;
    margin-bottom: .5rem;
    border-radius: .2rem;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2), 10px 10px 50px rgba(0, 0, 0, 0.2);
    padding: .5rem 1rem;
}

.team-card:hover{
     background-color:transparent;
     transition: 0.5s ease-in;
  background-color: white;
  transform: scale(1.05);
  
}

.team-card:hover p{
    background-color: crimson;
    transition: 0.5s ease-in;
    color: whitesmoke;
}

.contact-me{
    display: flex;
    flex-direction: column;
    
    
    padding: 4rem;
}

.contact-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.contact-main-content{
    display: flex;
}

.contact-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    height: 100%;
}

.contact-para{
    padding-right: 2rem;
    color: black;
}

.name{
    margin-top: 2rem;
    display: flex;
}

.name-details p{
    color: black;
    margin-left: 1rem;
    font-size: .8rem;
    color: rgb(37, 36, 36);

}

.head{
    font-family: bold_p;
    
}

form{
    display: flex;
    flex-direction: column;
}

.first-line{
    display: flex;
    
}

.forms{
    height: 2rem;
    border-radius: .3rem;
    padding: 0rem 1rem;
    margin: .6rem .6rem .6rem 0rem;
    border:1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(128, 121, 121, 0.1);

}

.name i{
    font-size: 2rem;
    color: crimson;

}

form a{
    margin: 2rem 0;
  border: 1px solid crimson;
  font-size: 1rem;
  color:whitesmoke;
  background-color: crimson;
  padding: 0.7rem 0;
  /* background-color: transparent; */
  border-radius: 0.3rem;
  font-family: semibold_p;
  display:flex;
  justify-content: center;
  width: 30%;
  text-decoration: none;

}

.right{
    justify-content: space-between;
}

footer{
    padding: 1rem;
    background-color: black;
    display: flex;
    justify-content: center;
    
}
footer p{
    color: whitesmoke;
}
.foot{
    color: crimson;
}
